.hero {
    background-image: url('../../Media/hero.jpeg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    position: relative;
    align-items: center;;
    justify-content: space-around;
}

.hero-overlay {
    background: black;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-info {
    // background: red;
    width: 55%;
    height: 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title > h1 {
    color: white;
    font-size: calc(60px + (90 - 60) * ((100vw - 1100px) / (1800 - 1100)));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}


.hero-buttons {
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-buttons > a >button {
    cursor: pointer;
    font-size: calc(22px + (30 - 22) * ((100vw - 1100px) / (1800 - 1100)))
}
.hero-buttons > a >button:focus {
    outline: 0;
}

.active {
    width: 35%;
    height: 50%;
}

.hero-learn {
    width: 100%;
    height: 100%;
    // border-radius: 100px;
    background: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: solid white 5px;
}

.active2 {
    height: 50%;
    width: 55%;
}

.hero-cta {
    height: 100%;
    // border-radius: 100px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    background: #F58D26;
    width: 100%;
}

.hero-blank {
    height: 80%;
    width: 15%;
}

@media screen and (max-width: 1100px) and (min-width: 700px ){
    .hero {
        height: 60vh;
    }
    .hero-info {
        width: 60%;
    }
}

@media screen and (max-width: 699px){
    .hero{
        flex-direction: column;
    }

    .hero-title {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-info {
        height: 100%;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .active, .active2 {
        width: 100%;
        // height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-title > h1 {
        width: 95%;
        font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (700 - 300)));

    }

    .hero-cta, .hero-learn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-buttons {
        flex-direction: column;
        height: 30%;
        width: 95%;
        // background: white;
    }

    .hero-buttons > a > button {
        width: 80%;
        height: 70%;
        font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (700 - 300)));
        padding: 0;
    }

    .hero-blank {
        height: 10%;
    }
}

@media screen and (min-width: 1800px){
    .hero-info > h1 {
        font-size: 140px;
    }

    .hero-buttons {
        height: 25%;
    }
}